/*
LESS Variables
Author: sanographix
*/

@bg: #fff; /* Background color */
@base: #454545; /* Base text color */
@link: #089fb5;
@hover: #067e8f;
@border: #dddddd;
@light: #999999; /* light text color */


@btn: #f5f5f5; /* Button Color */
@blue: #398fbb; /* Blue color(for Background) */
@dark: #333333; /* dark background color */