  @import "_normalize.less";
@import "_variable.less";
@import "_mixin.less";


/* Fonts */

@import "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700";

@import "http://fonts.googleapis.com/css?family=Droid+Serif:400italic";


/* weloveiconfonts */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

[class*="fontawesome-"],
[class*="entypo-"] {
    font-style: normal;
    font-weight: normal;
    vertical-align: text-top;
    line-height: 1;
    font-size: 130%;
}



.helvetica {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    .bold;
}

.alegreya {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
    font-style: italic;
}

/* tipsy */

.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; line-height: 1.5;}
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('//static.tumblr.com/xlsgtjb/fd9m4sfih/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }


  
/* Common */

html,body {
    background-color: @bg;
    font-family: 'Open Sans', 'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif;
    font-size: 100%; 
    color: @base;
    
}

#wrapper {
    border-top: 8px solid #666;
    
    #wrapper-inner {
        width: 800px;
        .center;
        .textleft;
    }
}

#tumblr_controls {
    top: 8px !important;
}

hr {
    height: 1px;
    margin: 20px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.13), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.13), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.13), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.13), rgba(0,0,0,0));
    border: 0;
}

.btn,
.more-link {
    .inline-block;
    text-align: center;
    padding: 6px 15px;
    cursor: pointer;
    line-height: 1.5;
    font-size: 12px;
    .border-radius(3px);
    overflow: hidden;
    color: #fff !important;
    text-decoration: none;
    background: @dark;
    &:hover {
        background-color: @link;
        text-decoration: none !important;
    }
}
.btn.btn-primary {
    background: @link;
    border-color: #1d887a;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    &:hover {
        background: #049e93;
        .box-shadow-inset(0,1px,0,rgba(255,255,255,0.4));
    }
}

.btn.btn-large {
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 4px;
}

/* Text */

a {
    color: @base;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1,h2,h3,h4,h5 {
    a {
        .nodeco;
        &:hover {
            text-decoration: none;
        }

    }
}

/* Header */

.header {
    margin: 80px 0;
    .relative;
    
    .blog-title {
        font-size: 40px;
        margin: 0;
        letter-spacing: -0.04em; // フォントの都合でちょっと詰める
    }
    
    .blog-description {
        .alegreya;
        font-size: 80%;
        margin: 0;
        line-height: 1;
        color: @light;
    }
    
    nav {
        .absolute;
        right: 0;
        top: 35px;
        font-size: 80%;
        .alegreya;
        
        a {
            .nodeco;
            margin-left: 30px;
            color: @light;
            
            &:hover {
                color: @base;
            }
        }
    }
    
}
/* Article */

article {
    margin-bottom: 120px;
    
    header {
        
        .entry-title {
            font-size: 24px;
            line-height: 1.5;
            margin: 15px 0 0;
            text-align: center;

            i {
                font-size: 200%;
            }
            
        }
        

    }
    
    .entry-footer {
        color: @light;
        .alegreya;
        font-size: 80%;
        
        a {
            color: @light;
            .nodeco;
            
            &:hover {
                color: @base;
            }
        }
        
        .notecount {
            margin-left: 10px;
        }
    }

    .tags {
        color: @light;
        .alegreya;
        font-size: 80%;
        margin-bottom: 10px;
        
        a {
            color: @light;
            .nodeco;
            margin-right: 10px;
            &:hover {
                .underline;
            }

        }
    }
    
    .notecontainer {
        margin: 30px 0;
        
        ol {
            margin: 0;
            padding: 0;
            
            li {
                list-style: none;
                border-bottom: 1px dashed @border;
                padding: 5px 0;
                
                .avatar {
                    max-height: 16px;
                    width: auto;
                }
            }
            
        }
    }

}

// entry-contentのテキストスタイル

.entry-content {
    font-size: 100%;
    line-height: 1.8;
    margin-bottom: 20px;

    a {
        color: @link;
        &:hover {
            color: @hover;
        }
    }

    img {
        max-width: 788px;
        height: auto;
        border: 1px solid @border;
        padding: 5px;
        background-color: #fcfcfc;

        &.right {
            float: right;
            margin: 0 0 1em 1em;
        }
        &.left {
            float: left;
            margin: 0 1em 1em 0;
        }

        &[align="right"] {
            margin: 0 0 1em 1em;
        }
        &[align="left"] {
            margin: 0 1em 1em 0;
        }
    }
    
    .amazlet-box {
        background: #fcfcfc;
        border: 1px solid @border;
        padding: 15px;
    }

    pre {
        font-size: 90%;
        padding: 8px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
        .border-radius(5px);
        font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
        line-height: 1.5;
    }
    
    code {
        font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
    }

    table {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid @border;
        .border-radius(3px);
        border-collapse: collapse;
    }
    
    th,
    td {
        padding: 10px;
        text-align: left;
        vertical-align: top;
        border: 1px solid @border;
        vertical-align: middle;
    }
    
    th {
        font-weight: bold;
    }
    
    tr:last-child {
        th,td {
            border-bottom: none;
        }
    }
}

// quote

.post.quote {
    .entry-content {
        font-size: 130%;
        line-height: 1.5;
    }
}

// pager

#pager {
    margin-bottom: 50px;
    .alegreya;
    text-align: center;

    a {
        color: @light;
        .nodeco;
        font-size: 150%;
        margin: 0 20px;
        
        &:hover {
            color: @base;
        }    
    }
    
}

@media screen and (max-width: 860px) {
    #wrapper #wrapper-inner {
        width: auto;
        margin: 0 30px;
    }
    article .entry-content img {
        max-width: 98%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    article .entry-content {
        img {
            max-width: 696px;
        }
    }
}

// スマホ
@media (max-width: 480px) {
   #wrapper #wrapper-inner {
        width: auto;
        margin: 0 10px;
    }
    
    .header {
        margin: 30px 0 40px 0;
        .blog-title {
            font-size: 34px;
        }
        
        nav {
            position: static;
            margin-top: 15px;
            font-size: 90%;
            a {
                margin: 0 20px 0 0;
            }
        }
    }
    article {
        font-size: 95%;
        margin-bottom: 100px;
        header {
            .entry-title {
                font-size: 24px;
                line-height: 1.3;
            }
        }
        
        .entry-content {
            word-wrap: break-word;
            line-height: 1.8em;
            p {
                margin: 0.8em 0;
            }
            
            img {
                max-width: 288px;
            }
        }
    }
}