/*
LESS Variables
*/

/* Background colors */

@bg: #fff; /* Background color */
@bg-light: #f5f5f5; /* Light Gray Background color */
@bg-dark: #333333; /* dark background color */
@bg-footer: #484d4d; /* Footer background color */

@base: #333; /* Base text color */
@light: #999; /* Light text color */

@link: #369ecf; /* Link text color */
@hover: #036fa1; /* Link text color(hover) */

@border: #ddd; /* Border color */
@selection: #ccc; /* Text highlighted color */

@btn: #53b4c5; /* btn text color */
@btn-hover: #3e919f; /* btn text color(hover) */
