/*
LESS Variables
*/

@bg: #fff; /* Background color */
@bg-light: #f8f8f8;

@base: #444; /* Base text color */
@light: #777; /* Light text color */
@header: #333; // h1とかh2とか

@link: #f75d6e; /* Link text color */
@hover: darken(@link,10%); /* Link text color(hover) */

@border: #e5e5e5; /* Border color */

@btn: #fff; /* Button Color */
@btn-hover: #f8f8f8; /* Button Color (hover) */

@btn-tw: #55acee;
@btn-fb: #3b5998;
@btn-b: #008fde;